.video-call {
  width: 640px;
  height: 536px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.call-video-views {
  position: relative;
  height: 100%;
  background-color: black;
}

.no-call {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.waiting-for-buddy {
  color: white;
}

.call-buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;

  .call-button {
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    padding: 4px 8px;
  }

  .call-button:hover {
    text-decoration: none;

    box-shadow: 0 0 12px rgba(0,0,0, 0.3);
  }
}

.btn-start-call {
  background-color: $green;
}

.btn-end-call {
  background-color: $red;
}

#local-video {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  video {
    background: black;
    width: 100px;
    height: 100px;
  }
}

#remote-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
